sudo: false
language: cpp

os:
 - linux
 - osx

compiler:
 - gcc
 - clang

before_install:
 - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
       brew update && brew upgrade python;
   fi

install:
 - if [[ "$TRAVIS_OS_NAME" = "linux" && "$CXX" = "g++" ]]; then
       export CXX="g++-5" CC="gcc-5";
   fi

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5
    - clang
    - python3

script:
 - make
